/* Feedback.css */
.feedback-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Components/assets/feedback_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feedback-form {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for better readability */
    padding: 20px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
