.white-content {
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Ensure white content is above background */
}

.goods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.goods-box {
    width: calc(30% - 20px); /* Adjust width with margin */
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.goods-box img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adding shadow for better visual depth */
    transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}

.goods-box img:hover {
    transform: scale(1.05); /* Slightly zoom the image on hover */
}

.goods-box h2 {
    margin-top: 10px;
}

.goods-box p {
    color: #666;
}